@use "../sass/base" as *;

.header {
  height: 100%;
  width: $container;
  margin-inline: auto;
  padding-block-start: 4rem;
  &__icon-hamburger {
    width: 2.3rem;
    cursor: pointer;
  }
  &__icon-closing {
    width: 2.3rem;
    aspect-ratio: 1/1;
    cursor: pointer;
    height: 2.5rem;
    -webkit-margin-end: 2rem;
    margin-inline-end: 2rem;
    margin-block-start: 4rem;
    align-self: start;
  }
  @media (min-width: 700px) {
    &__icon-hamburger {
      display: none;
    }
    &__icon-closing {
      display: none;
    }
  }
  &__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__img {
      width: 14rem;
      z-index: 2;
    }
  }
  &__nav {
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0);
    height: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 50rem;
    &-list {
      margin-block-start: -4rem;
      font-size: 2rem;
      padding: 2.1rem;
      font-family: "Josefin Sans", sans-serif;
      font-weight: 200;
      text-transform: uppercase;
      li {
        cursor: pointer;
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }

  @media (min-width: 700px) {
    &__nav {
      position: relative;
      background: transparent;
      inset: auto;
      color: $color-white;
      width: fit-content;
    }
    &__nav-list {
      margin-block-start: 0;
      text-transform: capitalize;
      padding: 0;
      font-size: 1.2rem;
      display: flex;
      gap: 1rem;
    }
  }
  &__immersive-experience {
    border: 2px solid $color-white;
    padding: 1.1rem;
    text-align: left;
    font-family: $josefin;
    font-weight: 300;
    margin-block-start: 6rem;
    color: $color-white;
    font-size: 1.4rem;
    text-transform: uppercase;
    width: min(90%, 26.5rem);
    line-height: 1.2;
  }
}

.footer {
  &__logo {
    margin-top: 2rem;
    padding: 3rem;
    width: 20rem;
    margin-inline: auto;
  }

  &__list {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &--item {
      font-family: $josefin;
      font-size: $default;
    }
  }

  &__socials {
    padding-top: 4.2rem;
    display: flex;
    gap: 1.5rem;
    justify-content: center;

    &__svg {
      width: 2.2rem;
      height: 2.2rem;
    }
  }
}
.toggle--class {
  // js toggle class
  animation: navigationBar 0.8s cubic-bezier(0.26, -0.22, 0.37, 0.76);
  height: 100vh;
  left: 0rem;
  bottom: 0rem;
}
@keyframes navigationBar {
  0% {
    left: 28rem;
  }
  100% {
    left: 0rem;
  }
}
.attribution {
  text-align: center;
  padding-top: 2rem;
  font-size: 1.3rem;

  & > a {
    color: $color-gray;
  }
}
