@use "../sass/base" as *;
header {
  background-image: url(../images/mobile/image-hero.jpg);
  height: 75vh;
}
@media (min-width:700px) {
  header {
    background-image: url(../images/desktop/image-hero.jpg);
    background-size: cover;
  }
}
.main {
  margin-top: 3.6rem;
  padding-top: 6rem;
}

.designs {
  margin-top: 3rem;
  padding-top: 6rem;
}

.footer {
  margin-top: 8rem;
  background-color: black;
  color: $color-white;
  padding-bottom: 3.4rem;
}
