@use "../sass/base" as *;

.details {
  display: flex;
  flex-direction: column;
  @media (min-width: 800px) {
    flex-direction: row;
  }
  &__h1 {
    text-transform: uppercase;
    font-family: $josefin;
    font-weight: 300;
    font-size: 2.5rem;
    letter-spacing: 1.7px;
  }

  &__para {
    margin-inline: auto;
    font-family: $alata;
    font-weight: 400;
    font-size: $default;
    color: $color-gray;
    @media (min-width: 800px) {
      font-size: 1rem;
    }
  }
  &__photo {
    width: 70%;
    max-width: 600px;
    margin-inline: auto;
    @media (min-width: 800px) {
      margin-inline: 0 auto;
    }
  }
}

.designs__h1 {
  text-transform: uppercase;
  font-family: $josefin;
  font-weight: 300;
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 3.2rem;
}
